doctype html
html
  head
    link(rel="stylesheet", href="/css/style.css")
    script(src="/socket.io/socket.io.js")
    script(src="/js/client.js")
    block title
      title= title
  header
    a(href='/signup') signup
    = '\n'
    a(href='/signin') signin
    = '\n'
    a(href='/signout') Logout
  body
    h1 Welcome to #{title}
    block content